<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CompileJava.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FLAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>NyquistIDE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>flac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>intgen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>lo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ny.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ogg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>osc-test-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>portaudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ser-to-osc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sndfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>vorbis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>vorbisenc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>vorbisfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D0817540AD01DB10051B745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D32216F0F53D4C300F074EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D3533810F0BD6CA0059CD05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5CD82C0B5BC73700DF426B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D7327A5125BF5D8009AAF15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D7327AF125BF624009AAF15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DA7D7C312B93C08008E62B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DAB7F280B2E172300A51A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DD1B16216AACBB0000D560D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE2276415BC92D7006E65CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31451021682749C00833823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3145118168275F900833823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F314514C1682765700833823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31451581682767A00833823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31451CC168279EE00833823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
